body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}
.container{
    display: flex;
    flex: 1;
}
.sidebar{
    background-color: lightgray;
    width: 300px;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.main-content{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}