body{
    margin: 0;
    padding: 0;
}
header{
    background-color: #f8e9c4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.left .logo{
    display: flex;
    align-items: center;
}
.left span{
    padding: 10px 10px;
}
.right{
    display: flex;
    align-items: center;
}
header .logo .circle{
    width: 50px;
    height: 50px;
    background-color: #d9d9d9;
    border-radius: 50%;
}
header .logo span{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
header .a a{
    text-decoration: none;
    margin: 0 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.cart{
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    border: 5px solid aqua;
    border-radius: 8px;
    width: 130px;
    text-align: center;
    padding: 10px;
}
.right .a{
    padding: 20px 10px;
}
.right .a a:hover{
    background-color: red;
    border: 5px solid red;
    border-radius: 5px;
}
.right .cart{
    text-align: center;
    padding: 10px;
}
.container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.sidebar{
    border: 2px solid black;
    width: 250px;
    height: 100%;
    margin-right: 20px;
}
.sidebar h3{
    font-weight: bold;
    margin-left: 40px;
}
.sidebar ul{
    list-style: none;
}
.sidebar li{
    padding: 5px 0;
}
.sidebar .showmore{
    background-color: aquamarine;
    border: 5px solid aquamarine;
    border-radius: 5px;
    width: 100px;
    margin: 0 40px;
}
.content{
    flex: 1;
    padding-left: 20px;
}
.content .search-bar{
    display: flex;
    justify-content: space-between;
    border: 2px solid gray;
    height: 30px;
    padding: 10px 0;
    margin-bottom: 20px;
}
.content .search-bar input{
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    width: 50%;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
}
.content .search-bar select{
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.Foods1, .Foods2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.Food{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Food img{
    width: 90%;
    border-radius: 10px;
}
.Food .name{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}
.Food .prices{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.price{
    color: blue;
    font-size: 15px;
}
.discount{
    color: red;
    margin-left: 10px;
}
.pagination{
    margin: 20px 0;
}
.pagination button{
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 5px;
}
footer{
    background-color: #f8e9c4;
    padding: 20px;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.shop-name{
    font-size: 24px;
    font-weight: bold;
}
.contact-info{
    margin-top: 10px;
    display: flex;
}
.contact-info span{
    margin: 5px 10px;
}
@media (max-width: 768px){
    .right{
        padding-left: 30px;
    }
    header .a a{
        font-size: 18px;
    }
    .container{
        flex-direction: column;
        padding: 20px;
    }
    .sidebar{
        width: 100%;
        margin-right: 0;
    }
    .content{
        padding-left: 0;
    }
    .Foods1, .Foods2{
        flex-direction: column;
        align-items: center;
    }
    .Food{
        width: 80%;
        margin-bottom: 20px;
    }
    .pagination button{
        padding: 5px 10px;
        font-size: 14px;
    }
}
@media (max-width: 1024px){
    .Foods1, .Foods2 {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .Food{
        width: 45%;
    }
}
@media (min-width: 1025px){
    .Food{
        width: 23%; 
    }
}
